{% extends "admin/base_site.html" %}
{% load i18n %}

{% block userlinks %}
  {% if has_permission %}
    <div class="userlinks" style="margin: 0; padding: 0; font-size: 0.9rem;">
      {% trans 'Welcome,' %} {{ user.get_username }} |
      <a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> |
     <form method="post" action="{% url 'admin:logout' %}" style="display:inline;">
  {% csrf_token %}
  <button type="submit" class="btn btn-sm btn-outline-dark">Logout</button>
</form>

    </div>
  {% endif %}
{% endblock %}
