{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-5">
      <h4 class="text-center mb-4">Bluestock IPO Login</h4>

      {% if form.errors %}
        <div class="alert alert-danger">
          {% for field in form %}
            {% for error in field.errors %}
              <div>• {{ error }}</div>
            {% endfor %}
          {% endfor %}
          {% for error in form.non_field_errors %}
            <div>• {{ error }}</div>
          {% endfor %}
        </div>
      {% endif %}

      <form method="POST" class="shadow p-4 rounded bg-white">
        {% csrf_token %}
      <div class="form-control">
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" name="email" id="email" value="{{ request.POST.email }}" required>
        </div>

        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input type="text" class="form-control" name="username" id="username" value="{{ request.POST.username }}" required>
        </div>

        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input type="password" class="form-control" name="password" id="password" required>
        </div>

        <button type="submit" class="btn btn-primary w-100">Login</button>
      </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
